body { 

}

.hero {
    background-image: url(images/cracked-black-wooden-textured-background.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:0%;
}